@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Rubik Mono One', serif;
}

.black {
    background-color: black;
}

button {
    cursor: pointer;

    background-color: #7BA4B3;
    border: 3px solid black;
}


body {
    background-color: #F8F5EB;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main .container .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.main .container .left h1 {
    font-family: 'Bowlby One SC', serif;
    font-size: 60px;
    color: #EF4269;
    text-align: center;
    -webkit-text-stroke: 0.8px black;
}

.main .container .left .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main .container .left button {
    font-size: 18px;
    padding: 20px 10px;
    border-radius: 3px;
    transition: 0.3s ease;
}
.main .container .left button:hover {
    box-shadow: 2px 2px 0 black;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item  {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

p {
    text-align: center;
    color: #EF4269;
    -webkit-text-stroke: 1.8px black;
}